{
  "vagrant": {
    "adapter": "wlan0"
  },
  "opsworks": {
    "layers": {
      "layer1": {
        "instances": {
          "layer1-machine": {
            "ip": "10.10.10.10",
            "instance_type": "c1.medium",
            "private_ip": "10.10.10.11"
          }
        },
        "run_list":  [
          "recipe[ssh_users]"
        ],
        "cookbooks_path": [
          "/path/to/opsworks-cookbooks",
          "/path/to/custom-cookbooks"
        ]
      },
      "layer2": {
        "instances": {
          "layer2-machine": {
            "ip": "20.20.20.20",
            "instance_type": "c1.medium",
            "private_ip": "20.20.20.21"
          }
        },
        "run_list":  [
          "recipe[ssh_users]"
        ],
        "cookbooks_path": [
          "/path/to/opsworks-cookbooks",
          "/path/to/custom-cookbooks"
        ]
      }
    }
  },
  "mysql": {
    "server_root_password": "YouMustSetARootPWorYouWontBeAbleToFindOutWhatItIs"
  },
  "ssh_users": {
    "me": {
      "name": "me",
      "public_key": ""
    }
  }
}
