{
  "run_list": [
    "recipe[apt]",
    "recipe[mysql::server]"
  ],
  "vagrant": {
    "adapter": "wlan0",
    "hostname": "db-a2",
    "host_only_ip": "10.10.10.10",
    "cookbooks_path": [
      "/path/to/opsworks-cookbooks",
      "/path/to/custom-cookbooks"
    ]
  },
  "opsworks": {
    "instance": {
      "instance_type": "t1.micro",
      "hostname": "db-a2"
    }
  },
  "mysql": {
    "server_root_password": "jwklfjkdlsajfklsajfkdsafdafsafas"
  }
}

